#wall {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: red;
  }
  
.score {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    font-size: 24px;
    color: black;
    background: white;
    width: 10%;
    height: 100px;
    text-align: center;
    padding-top: 30px;
    border-radius: 10px;
    border: 2px solid black;
}

#centered-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1px;
  }

  #box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 5%;
    height: 20%;
    background-color: black;
    bottom: 0;
  }

