html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

#wall {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: red;
    z-index: -2;
  }
  
#score {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: -1;
    font-size: 24px;
    color: black;
    background: white;
    width: 10%;
    height: 100px;
    text-align: center;
    padding-top: 30px;
    border-radius: 10px;
    border: 2px solid black;
}

#centered-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1px;
  }

  #box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
    /* width: 10%;
    height: 30%; */
    background-color: black;
    bottom: 0;
  }

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  

  #my-canvas {
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }

  /* #person-hole {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    width: 100px;
    height: 200px;
  }
  
  .head {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f0e68c;
    margin: 0 auto;
    position: relative;

  }
  
  .torso {
    width: 40px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    bottom: 0;
  }
  
  .chest {
    width: 40px;
    height: 80px;
    background-color: #f0e68c;
    position: absolute;
  }
  
  .left-arm, .right-arm {
    width: 10px;
    height: 40px;
    background-color: #f0e68c;
    position: absolute;
    bottom: 20px;
    border-radius: 10px;
  }
  
  .left-arm {
    transform: rotate(-45deg);
    left: -10px;
  }
  
  .right-arm {
    transform: rotate(45deg);
    right: -10px;
  }
  
  .legs {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
  }
  
  .left-leg, .right-leg {
    width: 10px;
    height: 40px;
    background-color: #f0e68c;
    border-radius: 10px;
  } */
  
  #person-hole {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 200px;
    height: 400px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
  
  .head {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: #f0e68c;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    top: -40px;
  }
  
  .torso {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    background-color: #f0e68c;
    width: 100px;
    height: 160px;
    margin: 0 auto;
  }
  
  .left-arm {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: #f0e68c;
    width: 40px;
    height: 100px;
    transform: rotate(-45deg);
    position: relative;
    left: -20px;
    bottom: 30px;
    border-radius: 10px;
  }
  
  .right-arm {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    background-color: #f0e68c;
    width: 40px;
    height: 100px;
    transform: rotate(45deg);
    position: relative;
    right: -20px;
    bottom: 30px;
    border-radius: 10px;
  }
  
  /* .left-leg {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    background-color: #f0e68c;
    width: 40px;
    height: 100px;
    position: relative;
    bottom: 30px;
    border-radius: 10px;
  }

