html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

#my-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

@font-face {
  font-family: "Gameplay";
  src: url("./assets/fonts/Gameplay.ttf");

  font-family: "Title";
  src: url('./assets/fonts/Title.ttf');
}