<!DOCTYPE html>
<html>
<head>
	<title>Game Instructions</title>
	<style>
		body {
			font-size: 36px;
		}
	</style>
</head>
<body>
    <div style="text-align: center;">
        <h1>Game Instructions</h1>
        <p>Welcome to our game! Here's how to play:</p>
        
        <h2>A red wall with a black hole will begin to move towards you.</h2>
        
        <h2>Your objective: position yourself in a way that allows you to fit through the hole.</h2> 
        
        <h2>Be quick and precise to avoid being hit by the walls. </h2>
        
        <h2>Good luck and have fun!</h2>
    </div>
	
</body>
</html>
